body {
  background: black;
  font-family: monospace;
  text-align: center;
  margin: 0;
}

#gameCanvas {
  background: #111;
  display: block;
  margin: 20px auto;
  border: 4px solid #0ff;
  box-shadow: 0 0 20px #0ff;
}

#ui button {
  background: #0ff;
  border: none;
  padding: 12px 18px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
